<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::myHead(LOGIN)}"></head>
<body>
<header th:replace="~{fragments/header}"></header>

<div class="container">
  <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4">

      <h2 class="my-5">FIND PASSWORD</h2>

      <form class="row g-3" action="/member/login" th:action="@{/mail/find-password}" method="post" name="login">

        <div class="col-12">
          <label for="user-email" class="form-label fw-bold">USER EMAIL</label>
          <input type="email" class="form-control" id="user-email"
                 placeholder="USER ID" name="userEmail">
        </div>
        <!--                <div class="alert" th:errors="*{userID}">여기에 에러 메세지</div>-->
        <div class="col-12">
          <button class="btn btn-primary" id="btn-signin">CONFIRM</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>

